body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}  
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
} 
  /* Additional styles for visual purposes */
#box1 {
    background-color: red;
}

#box2 {
    background-color: rgb(0, 255, 0);
}
#box3 {
    background-color: blue;
}
